@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
  
  /* Map default sans to Inter */
  --font-sans: var(--font-inter);
}

/* Custom Base Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat);
}

body {
  font-family: var(--font-inter);
}
